<footer class="footer">
    <div class="_container">
        <div class="footer__content">
            <p class="footer__copy">All right reserved</p>
            <p class="footer__year">2021</p>
        </div>
    </div>
</footer>
