<div class="wrapper">

    <section class="card">
        <div class="_container">
         
            <div class="card__container">
                <div class="card__photo">
                    <div class="card__img"></div>
                </div>
                <div class="card__name">Card name</div>
                <div class="card__price">$400</div>
                <div class="card__description-title card__name">Опис</div>
                <div class="card__description-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error ea debitis voluptatum provident, perferendis pariatur facere possimus eos eum ad minima odio. Vitae eum maiores culpa excepturi dolores, animi ex harum ipsam reiciendis veritatis ipsum quo, ratione aliquam modi eligendi!</div>
                <div class="card__call">+38012344556</div>
           </div>

        </div>
    </section>
</div>