<div class="wrapper">
    <section class="new">
        <div class="_container">
            <div class="new__title title">Топ продажу</div>
            <div class="new__row">
                <div class="new__column">
                    <div class="new__item">
                        <div class="new__label">Гаряча новинка</div>
                        <div class="new__img">
                            <a href="#" class="like"></a>
                            <a href="#" class="basket"></a>
                        </div>
                        <p class="product__name">Lorem, ipsum.</p>
                        <div class="product__info">
                            <a href="#" class="product__location">
                                <span class="location__img"></span>
                                <span class="product__city">City</span>
                            </a>
                            <p class="product__price">300 грн</p>
                        </div>
                        <div class="product__comment">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, maiores.</div>
                        <a href="#" class="product">Ознайомитись</a>
                    </div>
                    <div class="new__item">
                        <div class="new__label">Гаряча новинка</div>
                        <div class="new__img">
                            <a href="#" class="like"></a>
                            <a href="#" class="basket"></a>
                        </div>
                        <p class="product__name">Lorem, ipsum.</p>
                        <div class="product__info">
                            <a href="#" class="product__location">
                                <span class="location__img"></span>
                                <span class="product__city">City</span>
                            </a>
                            <p class="product__price">300 грн</p>
                        </div>
                        <div class="product__comment">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, maiores.</div>
                        <a href="#" class="product">Ознайомитись</a>
                    </div>
                    <div class="new__item">
                        <div class="new__label">Гаряча новинка</div>
                        <div class="new__img">
                            <a href="#" class="like"></a>
                            <a href="#" class="basket"></a>
                        </div>
                        <p class="product__name">Lorem, ipsum.</p>
                        <div class="product__info">
                            <a href="#" class="product__location">
                                <span class="location__img"></span>
                                <span class="product__city">City</span>
                            </a>
                            <p class="product__price">300 грн</p>
                        </div>
                        <div class="product__comment">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, maiores.</div>
                        <a href="#" class="product">Ознайомитись</a>
                    </div>
                    <div class="new__item">
                        <div class="new__label">Гаряча новинка</div>
                        <div class="new__img">
                            <a href="#" class="like"></a>
                            <a href="#" class="basket"></a>
                        </div>
                        <p class="product__name">Lorem, ipsum.</p>
                        <div class="product__info">
                            <a href="#" class="product__location">
                                <span class="location__img"></span>
                                <span class="product__city">City</span>
                            </a>
                            <p class="product__price">300 грн</p>
                        </div>
                        <div class="product__comment">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, maiores.</div>
                        <a href="#" class="product">Ознайомитись</a>
                    </div>
                </div>
            </div>
            <div class="new__title title">Топ продажу</div>
            <div class="new__row">
                <div class="new__column">
                    <div class="new__item">
                        <div class="new__label">Гаряча новинка</div>
                        <div class="new__img">
                            <a href="#" class="like"></a>
                            <a href="#" class="basket"></a>
                        </div>
                        <p class="product__name">Lorem, ipsum.</p>
                        <div class="product__info">
                            <a href="#" class="product__location">
                                <span class="location__img"></span>
                                <span class="product__city">City</span>
                            </a>
                            <p class="product__price">300 грн</p>
                        </div>
                        <div class="product__comment">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, maiores.</div>
                        <a href="#" class="product">Ознайомитись</a>
                    </div>
                    <div class="new__item">
                        <div class="new__label">Гаряча новинка</div>
                        <div class="new__img">
                            <a href="#" class="like"></a>
                            <a href="#" class="basket"></a>
                        </div>
                        <p class="product__name">Lorem, ipsum.</p>
                        <div class="product__info">
                            <a href="#" class="product__location">
                                <span class="location__img"></span>
                                <span class="product__city">City</span>
                            </a>
                            <p class="product__price">300 грн</p>
                        </div>
                        <div class="product__comment">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, maiores.</div>
                        <a href="#" class="product">Ознайомитись</a>
                    </div>
                    <div class="new__item">
                        <div class="new__label">Гаряча новинка</div>
                        <div class="new__img">
                            <a href="#" class="like"></a>
                            <a href="#" class="basket"></a>
                        </div>
                        <p class="product__name">Lorem, ipsum.</p>
                        <div class="product__info">
                            <a href="#" class="product__location">
                                <span class="location__img"></span>
                                <span class="product__city">City</span>
                            </a>
                            <p class="product__price">300 грн</p>
                        </div>
                        <div class="product__comment">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, maiores.</div>
                        <a href="#" class="product">Ознайомитись</a>
                    </div>
                    <div class="new__item">
                        <div class="new__label">Гаряча новинка</div>
                        <div class="new__img">
                            <a href="#" class="like"></a>
                            <a href="#" class="basket"></a>
                        </div>
                        <p class="product__name">Lorem, ipsum.</p>
                        <div class="product__info">
                            <a href="#" class="product__location">
                                <span class="location__img"></span>
                                <span class="product__city">City</span>
                            </a>
                            <p class="product__price">300 грн</p>
                        </div>
                        <div class="product__comment">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, maiores.</div>
                        <a href="#" class="product">Ознайомитись</a>
                    </div>
                </div>
            </div>
            <div class="new__title title">Топ продажу</div>
            <div class="new__row">
                <div class="new__column">
                    <div class="new__item">
                        <div class="new__label">Гаряча новинка</div>
                        <div class="new__img">
                            <a href="#" class="like"></a>
                            <a href="#" class="basket"></a>
                        </div>
                        <p class="product__name">Lorem, ipsum.</p>
                        <div class="product__info">
                            <a href="#" class="product__location">
                                <span class="location__img"></span>
                                <span class="product__city">City</span>
                            </a>
                            <p class="product__price">300 грн</p>
                        </div>
                        <div class="product__comment">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, maiores.</div>
                        <a href="#" class="product">Ознайомитись</a>
                    </div>
                    <div class="new__item">
                        <div class="new__label">Гаряча новинка</div>
                        <div class="new__img">
                            <a href="#" class="like"></a>
                            <a href="#" class="basket"></a>
                        </div>
                        <p class="product__name">Lorem, ipsum.</p>
                        <div class="product__info">
                            <a href="#" class="product__location">
                                <span class="location__img"></span>
                                <span class="product__city">City</span>
                            </a>
                            <p class="product__price">300 грн</p>
                        </div>
                        <div class="product__comment">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, maiores.</div>
                        <a href="#" class="product">Ознайомитись</a>
                    </div>
                    <div class="new__item">
                        <div class="new__label">Гаряча новинка</div>
                        <div class="new__img">
                            <a href="#" class="like"></a>
                            <a href="#" class="basket"></a>
                        </div>
                        <p class="product__name">Lorem, ipsum.</p>
                        <div class="product__info">
                            <a href="#" class="product__location">
                                <span class="location__img"></span>
                                <span class="product__city">City</span>
                            </a>
                            <p class="product__price">300 грн</p>
                        </div>
                        <div class="product__comment">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, maiores.</div>
                        <a href="#" class="product">Ознайомитись</a>
                    </div>
                    <div class="new__item">
                        <div class="new__label">Гаряча новинка</div>
                        <div class="new__img">
                            <a href="#" class="like"></a>
                            <a href="#" class="basket"></a>
                        </div>
                        <p class="product__name">Lorem, ipsum.</p>
                        <div class="product__info">
                            <a href="#" class="product__location">
                                <span class="location__img"></span>
                                <span class="product__city">City</span>
                            </a>
                            <p class="product__price">300 грн</p>
                        </div>
                        <div class="product__comment">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, maiores.</div>
                        <a href="#" class="product">Ознайомитись</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
