<div class="wrapper">

    <section class="login">
        <div class="_container">
            <form action="#" class="form">
                <h1 class="form__title">Вхід</h1>
                <div class="form__block">
                    <input type="text" class="form__input">
                    <label for="" class="form__label">Email</label>
                </div>

                <div class="form__block">
                    <input type="text" class="form__input">
                    <label for="" class="form__label">Password</label>
                </div>
                <a href="#" class="form__btn">Submit</a>

            </form>
        </div>
    </section>
</div>
