<div class="wrapper">

    <section class="login">
        <div class="_container">
            <form action="/login" class="form" id="sign_up" method="post">
                <h1 class="form__title">Вхід</h1>
                <div class="form__block">
                    <input type="text" class="form__input" name="email">
                    <label for="" class="form__label">Email</label>
                </div>

                <div class="form__block">
                    <input type="text" class="form__input" name="password">
                    <label for="" class="form__label">Password</label>
                </div>
                <button type="submit">submit</button>
            </form>
        </div>
    </section>
</div>
