<div class="wrapper">
    <section class="to-rent">
        <div class="_container">
            <section class="login">
                <div class="_container">
                    <form action="#" class="form" id="create_order">
                        <h1 class="form__title">Здати в оренду</h1>

                        <div class="form__block">
                            <input type="text" class="form__input" placeholder="Назва товару">
                        </div>

                        <div class="form__block">
                            <textarea placeholder="Опис товару..." rows="20" name="comment[text]" id="comment_text" cols="40" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true"></textarea>
                        </div>

                        <div class="form__block">
                            <input type="text" class="form__input" placeholder="Ціна(Гривні на місяць)">
                        </div>

                        <div class="form__block">
                            <input type="file" class="form__input" placeholder="Фото" name="image" id="image">
                            <label for="image" id="image_label">Загрузити фото</label>
                        </div>
                        <button type="submit" id="image_label"> Розмістити оглошення</button>

                    </form>
                </div>
            </section>
        </div>
    </section>
</div>
<script src="/javascript/auth.js"></script>
