<link rel="stylesheet" type="text/css" href="/stylesheets/redirect.css">
<div class="main">
    <div class="data">
        <h1>Щоб продовжити користування сервісом вам потрібно <a href="/login">зайти в особистий кабінет</a></h1>
    </div>
</div>

