<div class="wrapper">

    <section class="login">
        <div class="_container">
            <form action="/sign_post" class="form" id="sign" >
                <h1 class="form__title">Реєстрація</h1>

                <div class="form__block">
                    <input type="text" class="form__input" name="name">
                    <label for="" class="form__label" >Name</label>
                </div>
                <div class="form__block">
                    <input type="text" class="form__input" name="lastname">
                    <label for="" class="form__label" >Last Name</label>
                </div>
                <div class="form__block">
                    <input type="text" class="form__input" name="email">
                    <label for="" class="form__label" >Email</label>
                </div>
                <div class="form__block">
                    <input type="text" class="form__input" name="password">
                    <label for="" class="form__label">Password</label>
                </div>
                <div class="form__block">
                    <input type="text" class="form__input" name="phone">
                    <label for="" class="form__label">Phone</label>
                </div>
                <div class="form__block">
                    <input type="text" class="form__input" name="image">
                    <label for="" class="form__label">Image</label>
                </div>

                <button type="submit">Submit</button>
            </form>
        </div>
    </section>
</div>
<script src="/javascript/auth.js"></script>
