<div class="wrapper">

    <section class="login">
        <div class="_container">
           <div class="profile">
               <div class="profile__user profile__item">
                   <div class="profile__icon">
                       <div class="profile__icon-img"></div>
                       <div class="profile__icon-text">John Wilson</div>
                   </div>
               </div>

                <div class="profile__content profile__item">
                    <div class="profile__title">Основна інформація</div>
                    <div class="profile__main-info">
                        <div class="profile__input">
                            <input type="text" class="profile__input-i"  placeholder="Прізвище">
                        </div>
                        <div class="profile__input">
                            <input type="text" class="profile__input-i"  placeholder="Ім'я">
                        </div>
                        <div class="profile__input">
                            <input type="text"  class="profile__input-i" placeholder="Електронна пошта">
                        </div>
                    </div>
                    <div class="profile__title">Контактна інформація</div>
                    <div class="profile__mail-call">
                        <div class="profile__input">
                            <input type="text"  class="profile__input-i" placeholder="+380123456">
                        </div>
                        <div class="profile__input">
                            <input type="text"  class="profile__input-i" placeholder="+380123456">
                        </div>
                        <div class="profile__input">
                            <input type="text"  class="profile__input-i" placeholder="+380123456">
                        </div>
                        
                    </div>

                    <div class="profile__btn">
                        <button class="profile__cancel">cancel</button>
                        <button class="profile__save">save</button>
                    </div>
                </div>
           </div>
        </div>
    </section>
</div>
