<div class="wrapper">
    <section class="to-rent">
        <div class="_container">
            <section class="login">
                <div class="_container">
                    <form action="#" class="form">
                        <h1 class="form__title">Продати</h1>
                        <div class="form__block">
                            <input type="text" class="form__input" placeholder="Прізвище">
                        </div>

                        <div class="form__block">
                            <input type="text" class="form__input" placeholder="Імя">
                        </div>

                        <div class="form__block">
                            <input type="text" class="form__input" placeholder="Мобільний">
                        </div>

                        <div class="form__block">
                            <input type="text" class="form__input" placeholder="Товар">
                        </div>

                        <div class="form__block">
                            <input type="text" class="form__input" placeholder="Ціна">
                        </div>

                        <div class="form__block">
                            <input type="text" class="form__input" placeholder="Фото">
                        </div>
                        <a href="#" class="form__btn">Продати</a>

                    </form>
                </div>
            </section>
        </div>
    </section>
</div>
